.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.hero-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin-right: 0%;
  margin-left: 0%;
  padding-top: 5%;
  padding-right: 0%;
  padding-bottom: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #dead68;
  background-image: linear-gradient(219deg, #dead68 44%, #fff);
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar {
  padding: 20px 15%;
  background-color: #fff;
}

.nav-link {
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 20px;
  font-family: Montserrat, sans-serif;
  color: #656e72;
  font-size: 20px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: none;
}

.nav-link.w--current {
  margin-left: 0px;
  padding-right: 20px;
  padding-left: 20px;
  color: #656e72;
  font-size: 20px;
  line-height: 18px;
}

.nav-menu {
  display: block;
  margin-top: 10px;
  padding-top: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.hero-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-right: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.hero-header {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 11px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  font-family: 'Kaushan Script', sans-serif;
  color: hsla(0, 0%, 100%, 0.9);
  font-size: 80px;
  line-height: 70px;
  font-weight: 400;
  text-align: center;
}

.hero-header.footer {
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.hero-header.welcome {
  position: absolute;
  left: 0%;
  top: 33%;
  right: 0%;
  bottom: auto;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  opacity: 0;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  color: #656e72;
  font-size: 80px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 1px;
}

.hero-text {
  display: block;
  min-width: 0%;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 17px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: Nunito, sans-serif;
  color: hsla(0, 0%, 100%, 0.8);
  font-size: 30px;
  line-height: 40px;
  font-weight: 400;
  text-align: right;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.hero-text.footer-text {
  padding-top: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: none;
}

.grid {
  display: -ms-grid;
  display: grid;
  padding-top: 59px;
  padding-bottom: 59px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 0.5fr 1fr;
  grid-template-columns: 0.5fr 1fr;
  -ms-grid-rows: auto auto auto;
  grid-template-rows: auto auto auto;
}

.nav-logo {
  display: block;
  margin-left: 0px;
}

.high-quality {
  font-style: normal;
  font-weight: 700;
}

.hero-logo {
  margin-right: 0px;
}

.button-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.button {
  margin-right: 0px;
  margin-left: 35px;
  padding: 15px 35px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  border-radius: 5px;
  background-color: #656e72;
  font-family: Nunito, sans-serif;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.button.center {
  position: static;
  display: block;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  text-align: center;
  -o-object-fit: fill;
  object-fit: fill;
}

.button.submit {
  display: inline-block;
  margin-left: 0px;
}

.button.enter {
  margin-top: 40px;
  margin-left: 0px;
  padding-right: 70px;
  padding-left: 70px;
  background-color: rgba(222, 173, 104, 0.8);
  -webkit-transition: color 4000ms ease, background-color 5000ms ease;
  transition: color 4000ms ease, background-color 5000ms ease;
  color: #656e72;
  font-size: 16px;
  font-weight: 400;
}

.button.enter:hover {
  background-color: #656e72;
  color: #fff;
  font-weight: 400;
}

.button.port {
  margin-left: 0px;
  font-size: 14px;
}

.button.serv {
  font-size: 14px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 0%;
  margin-left: 0%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  background-color: #dead68;
  text-align: center;
}

.footer-logo {
  text-align: left;
}

.footer-section {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 11px;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.social-wrapper.contact {
  margin-top: 5px;
  margin-bottom: 11px;
}

.section-wrapper {
  height: auto;
  margin: 0px 0%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.section-wrapper.home-about {
  display: block;
  height: auto;
  margin: 51px 15%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-wrapper.home-port {
  margin: 0px 0%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.section-wrapper.port {
  margin: 0px 0%;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: #f9f9f9;
}

.section-wrapper.grey {
  background-color: #f9f9f9;
}

.footer-link {
  padding-right: 10px;
  padding-left: 10px;
  font-family: Montserrat, sans-serif;
  color: #656e72;
  text-align: left;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.heading {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Kaushan Script', sans-serif;
  color: rgba(51, 51, 51, 0.9);
  font-size: 40px;
  line-height: 55px;
  letter-spacing: 1px;
}

.heading.home-port {
  font-size: 45px;
  text-align: center;
}

.heading.center {
  margin-top: 10px;
  margin-bottom: 70px;
  text-align: center;
}

.heading.h3 {
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
}

.heading.quote {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: 'Kaushan Script', sans-serif;
  font-size: 35px;
  line-height: 44px;
  font-weight: 400;
  text-align: right;
}

.heading.quote-text {
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading.right {
  margin-top: 0px;
  margin-bottom: 0px;
}

.heading.bio {
  font-family: Montserrat, sans-serif;
  font-size: 39px;
  line-height: 49px;
  font-weight: 400;
}

.paragraph {
  font-family: Montserrat, sans-serif;
  font-size: 19px;
  line-height: 35px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 1px;
}

.paragraph.right {
  text-align: left;
}

.paragraph.righ {
  text-align: left;
}

.button-center-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.breaker {
  height: 20px;
  margin-right: 15%;
  margin-left: 15%;
  border-radius: 5px;
  background-color: #dead68;
}

.breaker.extra {
  position: static;
  margin-right: 0%;
  margin-left: 0%;
}

.div-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.form {
  margin-right: 0%;
  border-radius: 5px;
}

.form-block {
  padding-right: 25%;
  padding-left: 25%;
  border-radius: 5px;
  text-align: center;
}

.text-field {
  border-radius: 5px;
}

.text-field-2 {
  border-radius: 5px;
}

.body {
  border-radius: 5px;
  text-align: left;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image {
  display: block;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
  opacity: 0.3;
}

.heading-2 {
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  -ms-grid-row-align: auto;
  align-self: auto;
}

.body-2 {
  background-color: hsla(0, 0%, 100%, 0.8);
}

.image-2 {
  max-width: none;
}

.slider {
  width: auto;
  padding-right: 150px;
  padding-left: 150px;
}

.slider-2 {
  border-radius: 5px;
  background-color: transparent;
}

.hero-slider {
  height: 400px;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  -ms-grid-row-align: stretch;
  align-self: stretch;
  border-radius: 5px;
  background-color: transparent;
}

.slide-1 {
  background-image: url('../images/AV_500x500_transp.PNG');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-2 {
  background-image: url('../images/AV-white.png');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide-3 {
  background-image: url('../images/AV_500x500_gold.PNG');
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
}

.div-block-4 {
  margin-top: 25px;
  text-align: left;
}

.grid-2 {
  height: auto;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.html-embed {
  margin-bottom: 0px;
}

.error-message {
  text-align: left;
}

.timeline-wrapper {
  display: -ms-grid;
  display: grid;
  margin-top: 60px;
  grid-auto-flow: row;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 0.25fr 1fr;
  grid-template-columns: 1fr 0.25fr 1fr;
  -ms-grid-rows: auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto auto auto auto auto;
  font-size: 17px;
}

.about-img {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 5px;
}

.block-quote {
  margin-top: 60px;
  margin-bottom: 0px;
  padding: 42px 89px;
  border-left-width: 8px;
  border-radius: 5px;
  background-color: #dead68;
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 25px;
  line-height: 33px;
  font-style: italic;
  font-weight: 500;
  letter-spacing: 1.5px;
}

.div-block-6 {
  height: 200px;
}

.image-3 {
  position: absolute;
  left: 206.313px;
  color: rgba(51, 51, 51, 0.9);
  background-clip: border-box;
}

.quote-wrapper {
  display: -ms-grid;
  display: grid;
  margin-top: 60px;
  margin-bottom: 90px;
  padding: 40px 63px;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  border-radius: 5px;
  background-color: rgba(222, 173, 104, 0.9);
}

.quote-img {
  margin-left: 5px;
  opacity: 0.7;
}

.italic-text {
  font-family: Montserrat, sans-serif;
  font-size: 33px;
  font-style: italic;
  font-weight: 400;
  text-align: left;
}

.heading-3 {
  margin-top: 10px;
  margin-bottom: 0px;
}

.bio-wrapper {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.paint-icon {
  display: block;
  margin-top: 60px;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.image-4 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: left;
}

.content-block {
  margin-right: 15%;
  margin-left: 15%;
}

@media screen and (max-width: 991px) {
  .hero-text {
    margin-left: 325px;
    font-size: 25px;
    line-height: 39px;
    font-weight: 300;
    text-align: right;
    text-transform: uppercase;
  }
  .high-quality {
    color: #656e72;
    font-weight: 400;
    text-transform: uppercase;
    white-space: normal;
  }
  .hero-logo {
    display: block;
    margin-right: 150px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
}

#w-node-a86c853c0dc1-1a56cae1 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-481dc993176d-1a56cae1 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-c8a85c8f54f1-1a56cae1 {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-a1a756011f83-1a56cae1 {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-6e7628aa8090-1a56cae1 {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-5c8743fd9411-1a56cae1 {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-dfd1d6ec14a2-26edb64a {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-eb39e41ca9f3-26edb64a {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-c7fdd439bacd-26edb64a {
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
}

#w-node-770de6ac96f5-26edb64a {
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-1208e889d04f-26edb64a {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-column-align: start;
  justify-self: start;
}

#w-node-73f0926921a4-26edb64a {
  -ms-grid-column-span: 3;
  grid-column-end: 4;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
}

#w-node-fd335cd08eab-26edb64a {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-58e008d9ff74-26edb64a {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-142a6ef62ef8-26edb64a {
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row-span: 6;
  grid-row-end: 7;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-align: end;
  align-self: end;
}

#w-node-77d4c2e10255-26edb64a {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

#w-node-4dabfe3ecdf9-26edb64a {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 6;
  -ms-grid-row: 5;
  grid-row-start: 5;
}

#w-node-8a0f35741fb3-26edb64a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 5;
  -ms-grid-row: 4;
  grid-row-start: 4;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-c5a7f050cd3e-26edb64a {
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 7;
  -ms-grid-row: 6;
  grid-row-start: 6;
}

#w-node-75496d847f1f-26edb64a {
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 4;
  -ms-grid-row: 3;
  grid-row-start: 3;
  -ms-grid-column-align: end;
  justify-self: end;
}

#w-node-fc53446cb834-ddae727d {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-fc53446cb835-ddae727d {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-fc53446cb836-ddae727d {
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
}

#w-node-9f1a9947f1ec-ddae727d {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-369d0a8b4e74-ddae727d {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: 2;
  grid-column-start: 2;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

#w-node-9deb7a12023b-ddae727d {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
  -ms-grid-column: 3;
  grid-column-start: 3;
  -ms-grid-row: 2;
  grid-row-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 4;
  -ms-grid-row-span: 1;
  grid-row-end: 3;
}

